{% extends 'layout.html.twig' %}

{% block title %}Hello LikeController!{% endblock %}

{% block main %}

    <a href="{{ path('add_like') }}" class="btn btn-success">Add Like</a>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Person</th>
            <th scope="col">Product</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for data in likeData %}
            {% dump data %}
            <tr>
                <th scope="row">{{ data.id }}</th>
                <td>{{ data.login }}</td>
                <td>{{ data.name }}</td>
                <td><a href="#" class="btn btn-primary">Edytuj</a> <a href="#" class="btn btn-danger">Usuń</a> </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
