{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    {% block nav %}
        {% include 'temp/navbar/navbar.html.twig' %}
    {% endblock %}
<div class="container">
    {% block main %}{% endblock %}
</div>
    {% block footer %}{% endblock %}
{% endblock %}

